
<head>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>

<div id="block-dialog" title="Confirmation">
    <p>Are you sure you want to block this article?</p>
</div>

<div id="Unblock-dialog" title="Confirmation">
    <p>Are you sure you want to Unblock this article?</p>
</div>
